body {
	width: 1920px;
	height: 1080px;
	background-color: #e3f2fd;
	
}

.navbar {	
	color: #000;
}


.navbar-brand {
	padding-left: 35px;
	
}
ul li .nav-link:hover {
	color: #7dc4db;
}

nav ul li a {
	color: white;
	margin-right: 10px;
}

ul .acc {
	color: #fff;
	margin-right: 8px;
}

ul .acc_name {
	margin-right: 26px;
}

a:hover {
	text-decoration: none;

}
ul li .acc_choose:hover {
	text-decoration: none;
	color: #7dc4db;
}


